<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgUuEnR41P7VKwmfbupJo5kq6-kt13ods</string>
	<key>GCM_SENDER_ID</key>
	<string>642151905827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doconclick.doconclickMobile</string>
	<key>PROJECT_ID</key>
	<string>doconclick</string>
	<key>STORAGE_BUCKET</key>
	<string>doconclick.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642151905827:ios:d123c3d5ea8f3886450f96</string>
</dict>
</plist>